.content-container {
    background-color: #F5F5F5;
    display: block;
}

.title-bar-settings {
    background-color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 #E0E0E0;
    padding: 8px 16px 8px 16px;
    gap: 8px;
}

.title-bar {
    display: flex;
    align-items: center;
    flex: 1;
}

.title-bar p {
    font-weight: 600px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
}

.save-btn {
    padding: 8px 24px 8px 24px;
    background-color: #007AFF;
    width: 82px;
    height: 32px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    border-width: 0px;
    border-radius: 32px;
}