body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  display: flex;
}

.nav-rail {
  background-color: #004366;
  height: fit-content;
  gap: 8px;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
}

.main {
  background-color: #F5F5F5;
  display: inline;
  flex: 1;
}


