body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  height: 100vh;
  margin: 0 auto;
  display: flex;
}

.main {
  display: block;
  flex: 1;
}


